{% extends "admin/admin_home.html" %}
{% block body %}
    <a href="/admin_add_volunteer" class="btn btn-success"><i class="fa fa-plus"></i> Add Volunteer</a>
<table class="table table-bordered">
    <tr style="background: #3097a4; color: white">
        <td>#</td>
        <td>NAME</td>
        <td>EMAIL</td>
        <td>PHONE</td>
        <td>EXPERIENCE</td>
        <td></td>
    </tr>
    {% for i in data %}
    <tr >
        <td>{{ forloop.counter }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.phone }}</td>
        <td>{{ i.experience }}</td>
        <td><a href="/admin_delete_volunteers/{{ i.id }}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}