{% extends "user/user_home.html" %}
{% block body %}
<table class="table table-bordered">
    <tr style="background: #3097a4; color: white">
        <td>#</td>
        <td>SYMPTOM NAME</td>
        <td>DETAILS</td>
        <td></td>
        <td></td>
    </tr>
    {% for i in data %}
    <tr >
        <td>{{ forloop.counter }}</td>
        <td>{{ i.symptom_name }}</td>
        <td>{{ i.details }}</td>
        <td><a href="/user_view_symptom_level/{{ i.id }}" class="btn btn-info">Options</a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}